:root {
    --bg: #eee;
    --off-color: #333;
    --on-color: #eee;

    --border-radius: 2em;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: clip;
    background-color: var(--bg);
}

#game {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    max-height: 100dvh;
    max-width: 100dvw;
    width: 40rem;
    height: 90rem;

    /* experimental feature, supported in 90% of browsers */
    container-type: size;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    border-radius: var(--border-radius);
    box-shadow: -20px -20px 40px #fff;
    width: min(90cqw, 60cqh);
    aspect-ratio: 1;

    .cell {
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;

        @media (hover: hover) {
            &:hover {
                background-color: color-mix(in srgb, var(--on-color), var(--off-color) 85%);
                box-shadow: inset 12px 12px 12px #000a,
                    0 0 0 #0000;
            }

            &.on:hover {
                background-color: color-mix(in srgb, var(--on-color), var(--off-color) 10%);
                box-shadow: inset 0 0 0 #0000,
                    12px 12px 12px #0002;
            }
        }

        &.on {
            box-shadow: inset 0 0 0 #0000,
                24px 24px 32px #0002;
        }
    }

    .win & {
        box-shadow: none;

        .cell {
            animation: winning-cell-alt 2s ease forwards;
            /* calc for the animation */
            --f: calc(abs(1 - mod(var(--index) - 1, 3)) + 1 - mod(round(down, (var(--index) - 1) / 3), 2));
            animation-delay: calc(var(--f) * 0.2s);
            pointer-events: none;
        }
    }

    &.hide {
        box-shadow: none;

        .cell {
            box-shadow: none;
            background-color: var(--bg);
            pointer-events: none;
        }
    }
}

.cell {
    background-color: var(--off-color);
    transition: all 0.5s ease;
    cursor: pointer;

    &.on {
        background-color: var(--on-color);
    }

    &:nth-child(1) {
        border-radius: var(--border-radius) 0 0 0;
        --index: 1;
    }

    &:nth-child(2) {
        --index: 2;
    }

    &:nth-child(3) {
        border-radius: 0 var(--border-radius) 0 0;
        --index: 3;
    }

    &:nth-child(4) {
        --index: 4;
    }

    &:nth-child(5) {
        --index: 5;
    }

    &:nth-child(6) {
        --index: 6;
    }

    &:nth-child(7) {
        border-radius: 0 0 0 var(--border-radius);
        --index: 7;
    }

    &:nth-child(8) {
        --index: 8;
    }

    &:nth-child(9) {
        border-radius: 0 0 var(--border-radius) 0;
        --index: 9;
    }
}

.pattern-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5cqw;
    height: 20cqh;
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: var(--border-radius);
    box-shadow: -5px -5px 10px #fff,
        5px 5px 10px #0002;
    width: min(18cqh, 18cqw);
    aspect-ratio: 1;
    --border-radius: 1em;
    transition: all 0.5s ease;

    &.inactive {
        opacity: 0.3;
    }

    &.active {
        width: min(25cqh, 25cqw);
    }

    .win &,
    .pattern-row.hide & {
        .cell {
            background-color: var(--bg);
            box-shadow: none;
        }
    }
}

#skill-screen {
    position: absolute;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: opacity 0.5s ease;

    h1,
    .row {
        transform: scale(1);
        transition: transform 0.5s ease;
    }

    h1 {
        font-size: 4em;
        text-align: center;
        user-select: none;
    }

    .row {
        border-radius: 1337px;
        box-shadow: -20px -20px 40px #fff,
            20px 20px 40px #0003;
        display: flex;
        flex-direction: row;
        width: 600px;
        max-width: 90dvw;

        .skill {
            border-radius: 1337px;
            flex: 1;
            user-select: none;
            display: flex;
            gap: 10%;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 150px;
            flex-wrap: wrap;
            cursor: pointer;

            .square {
                width: 3em;
                height: 3em;
                max-width: 10dvw;
                max-height: 10dvw;
                aspect-ratio: 1;
                border-radius: 15px;
                background-color: var(--off-color);
                box-shadow: 6px 6px 12px #0003,
                    -6px -6px 12px #fff,
                    inset 0 0 0 #0000,
                    inset 0 0 0 #0000;
            }

            &:hover {
                box-shadow: inset 12px 12px 24px #0002,
                    inset -12px -12px 24px #fff;

                .square {
                    box-shadow: 0 0 0 #0000,
                        0 0 0 #0000,
                        inset 6px 6px 12px #000,
                        inset -6px -6px 12px #fff4;
                }
            }
        }
    }

    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: var(--bg);
        z-index: -1;
    }

    &.fade {
        pointer-events: none;
        opacity: 0;

        & .row,
        & h1 {
            transform: scale(1.2);
        }
    }
}

#results {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 560px;
    height: 200px;
    max-width: 90dvw;
    border-radius: 2em;
    box-shadow: -20px -20px 40px #fff,
        20px 20px 40px #0003;
    font-size: 2rem;
    user-select: none;
    transition: all 0.2s ease;

    h1 {
        transition: opacity 0.2s ease;
    }

    &.faded {
        box-shadow: none;
        display: flex;
        pointer-events: none;

        h1 {
            opacity: 0;
        }
    }
}

@keyframes winning-cell {
    0% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    17% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    33% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    50% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    67% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    83% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    100% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }
}

@keyframes winning-cell-alt {
    0% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    17% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    33% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    50% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    67% {
        background-color: var(--off-color);
        box-shadow: inset 24px 24px 24px #000a,
            0 0 0 #0000;
    }

    83% {
        background-color: var(--on-color);
        box-shadow: inset 0 0 0 #0000,
            24px 24px 24px #0002;
    }

    100% {
        background-color: var(--bg);
        box-shadow: none;
    }
}

/* testing */

#win-button {
    position: absolute;
    top: 20px;
    right: 50px;
    transform: rotate(20deg);
    font-size: 3rem;
    background: linear-gradient(45deg, red, orange);
    color: yellow;
    padding: 10px 40px;
    font-family: cursive;
    animation: colorpulse 0.7s infinite linear;
    cursor: pointer;

    &:hover {
        animation: spin-jitter 0.5s infinite ease-in-out, colorpulse 0.5s infinite linear;
    }
}

@keyframes spin-jitter {
    0% {
        transform: rotate(10deg) scale(1) translateY(0);
    }

    10% {
        transform: rotate(-10deg) scale(1.2) translateY(-10px);
    }

    20% {
        transform: rotate(5deg) scale(1.1) translateY(10px);
    }

    30% {
        transform: rotate(-5deg) scale(1.3) translateY(-15px);
    }

    40% {
        transform: rotate(15deg) scale(1) translateY(10px);
    }

    50% {
        transform: rotate(-15deg) scale(1.25) translateY(-10px);
    }

    60% {
        transform: rotate(10deg) scale(1) translateY(10px);
    }

    70% {
        transform: rotate(-10deg) scale(1.15) translateY(-10px);
    }

    80% {
        transform: rotate(20deg) scale(1.3) translateY(0);
    }

    90% {
        transform: rotate(-20deg) scale(1.1) translateY(10px);
    }

    100% {
        transform: rotate(10deg) scale(1) translateY(0);
    }
}

@keyframes colorpulse {
    0% {
        background: linear-gradient(45deg, red, orange);
        color: yellow;
    }

    20% {
        background: linear-gradient(90deg, magenta, yellow);
        color: blue;
    }

    40% {
        background: linear-gradient(45deg, lime, cyan);
        color: red;
    }

    60% {
        background: linear-gradient(90deg, blue, pink);
        color: green;
    }

    80% {
        background: linear-gradient(45deg, black, white);
        color: purple;
    }

    100% {
        background: linear-gradient(45deg, red, orange);
        color: yellow;
    }
}