@import url("/tools/common.css");

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h3 {
    user-select: none;
    font-weight: 400;
}

#header input {
    padding: 12px 16px;
    border: 1.5px solid transparent;
    border-radius: var(--border-radius);
    font-size: 14px;
    outline: none;
    transition: border .2s;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: var(--font-icons);
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

#back-button:hover {
    background-color: var(--text-color-hover);
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 12px;
}

/* slot */
.slot {
    position: relative;
    width: 100%;
    padding-top: 50%;
    border: 2px dashed var(--half-color);
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;
    color: var(--half-color);
    overflow: hidden;
    transition: padding-top .2s, transform .15s;
}

.slot.filled {
    padding-top: 100%;
}

.slot input[type=file] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

/* history */

.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    transition: background .2s;
    cursor: pointer;
}

.disabled .history-item {
    cursor: not-allowed;
}

.history-item img {
    max-width: 100%;
    border-radius: var(--border-radius);
}

.disabled .history-item img {
    opacity: 0.5;
}

/* label */
.slot-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.slot.filled .slot-label {
    opacity: 0;
}

/* X btn */
.x-button {
    display: none;
    position: absolute;
    font-family: var(--font-icons);
    top: 6px;
    right: 7px;
    z-index: 2;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: color-mix(in srgb, var(--text-color), transparent 50%);
    color: var(--bg-color);
    transition: background .15s;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.slot.filled .x-button {
    display: flex;
}

.x-button:hover,
.x-button:focus {
    background: var(--red);
    color: #fff;
}

/* drag-over visual */
.slot.drag-over,
.slot:hover {
    border: 2px solid var(--blue);
    outline: 2px dashed var(--blue);
    outline-offset: 2px;
    transform: scale(1.04);
    color: var(--blue);
}

/* mask pill */
#mask-button {
    min-width: 48px;
    min-height: 32px;
    padding: 0 14px;
    border: 2px dashed var(--half-color);
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    background: var(--fg-color);
    background-size: cover;
    background-position: center;
    transition: border .2s;
}

#mask-button:hover {
    border: 2px solid var(--blue);
    color: var(--blue);
}

#mask-input {
    display: none;
}

/* prompt */
.text-input {
    font-size: 16px;
    padding: 18px 20px;
    border: 1.5px solid transparent;
    font-family: var(--font);
    border-radius: var(--border-radius);
    outline: none;
    transition: border .2s;
    background: var(--bg-color);
    color: var(--text-color);
}

.text-input:focus {
    border: 1.5px solid var(--blue);
}

#options-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
}

#options-bar select {
    flex: 1;
}

/* output */
#output {
    width: 100%;
    min-height: 320px;
    border-radius: var(--border-radius);
    background: var(--bg-color) center/64px no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#output img {
    max-width: 100%;
    max-height: 75dvh;
    border-radius: var(--border-radius);
}

/* popup */

#popup {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0005;
    backdrop-filter: blur(1.5px);
}

#popup-content {
    background: var(--fg-color);
    border-radius: 20px;
    max-width: 90vw;
    min-width: 15em;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    animation: fadeInZoom .05s ease;
}

#popup-content.error {
    border: 1.5px solid var(--red);
    background: color-mix(in srgb, var(--bg-color) 90%, var(--red) 10%);
    color: var(--red-hover);
}

#popup-content.info {
    border: 1.5px solid var(--blue);
    background: color-mix(in srgb, var(--bg-color), var(--blue) 5%);
}

#popup-close {
    margin: 12px auto 0 auto;
    padding: 10px 40px;
    border-radius: var(--border-radius);
    background: var(--blue);
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: background .15s;
    outline: none;
}

#popup-close:focus,
#popup-close:hover {
    background: var(--blue-hover);
}

#popup-content.error #popup-close {
    background: var(--red);
}

#popup-content.error #popup-close:hover {
    background: var(--red-hover);
}

#popup-icon {
    font-size: 3em;
    margin-bottom: 2px;
    display: block;
}

/* responsive design */
@media (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    #header input {
        width: 100%;
    }
}