@font-face {
    font-family: kremlin;
    src: url(https://www.bitwise.live/res/kremlin.ttf);
}
@font-face {
    font-family: Fira Code;
    src: url(https://www.bitwise.live/res/FiraCode.ttf);
}
.wrapper {
    background-color: #101010;
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    min-height: 100vh;
}
.bg {
    width: 200%;
    background-image: url(https://www.bitwise.live/res/numbers.png);
    opacity: 0.10;
    zoom: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
}
.vignette {
    background: url(https://www.bitwise.live/res/vignette.png) center center fixed;
    opacity: 100;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content {
    position: relative;
}
.title {
    font-family: kremlin;
    text-align: center;
    color: white;
}
#footer {
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-family: kremlin;
    position: fixed;
    bottom:0px;
    height:20px;
    width:200px;
    left: 0;
    right: 0;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px;
}
.text {
    font-weight: bold;
    font-size: larger;
    color: white;
    font-family: Fira Code;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}