@font-face {
    font-family: 'bitwise';
    src: url(https://www.rebitwise.com/res/fonts/Bitwise.ttf);
}

@font-face {
    font-family: 'firacode';
    src: url(https://www.rebitwise.com/res/fonts/FiraCode.ttf);
}

@font-face {
    font-family: 'asbestos';
    src: url(https://www.rebitwise.com/res/fonts/Asbestos.ttf);
}

@font-face {
    font-family: "AsbestosMono";
    src: url(https://www.rebitwise.com/res/fonts/AsbestosMono.ttf);
}

@font-face {
    font-family: 'PokemonGB';
    src: url(https://www.rebitwise.com/res/fonts/PokemonGB.ttf);
}

:root {
    --dark: #111;
    --light: #fff;
    --primary-color: #fff;
    --hover-color: #000;
    --splash-color: #57f;
    --error-color: #f33;
    --success-color: #3c4;
    --font-size-body: larger;
    --font-size-large: 5em;
    --font-size-xlarge: 10em;
    --font-size-button: 1.5em;
    --font-size-input: 0.8em;
    --font-family-firacode: 'firacode', monospace;
    --font-family-bitwise: 'bitwise', sans-serif;
    --font-family-asbestos: 'asbestos', sans-serif;
    --border-radius: 15px;
}

*::selection {
    background-color: var(--light);
    color: var(--dark);
}

body {
    font-size: var(--font-size-body);
    color: var(--light);
    background-color: var(--dark);
    font-family: var(--font-family-firacode);
    margin: 0;
}

#content {
    text-align: center;
}

.title, .big-title, #footer, .button.mainButton {
    font-family: var(--font-family-bitwise);
}

.title {
    text-align: center;
    color: var(--light);
    font-size: var(--font-size-large);
}

.big-title {
    text-align: center;
    color: var(--light);
    font-size: var(--font-size-xlarge);
}

#footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--light);
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: var(--border-radius);
    right: 0;
    text-decoration: none;
    font-size: var(--font-size-body);
    transition: 300ms;
}

#footer:hover {
    background-color: var(--primary-color);
    color: var(--dark);
    transition: 300ms;
}

.text {
    max-width: 800px;
    text-align: left;
    margin: 50px auto 0 auto;
    font-size: 1em;
}

.button-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.button.mainButton {
    font-family: var(--font-family-bitwise);
    font-size: var(--font-size-button);
}

.button.mainButton:hover {
    transform: scale(1.05);
}

.button {
    font-family: var(--font-family-firacode);
    padding: 15px 40px;
    font-size: var(--font-size-input);
    border-radius: var(--border-radius);
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 5px #101010a0;
    transition: 200ms;
    --color: var(--primary-color);
    color: var(--color);
    border: 3px solid var(--color);
    background-color: transparent;
}

.button:hover {
    background-color: var(--color);
    color: var(--hover-color);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.tool-card {
    background-color: #1119;
    backdrop-filter: blur(5px);
    border: 2px solid white;
    width: 60%;
    padding: 20px;
    margin: 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

.tool-card:hover {
    transform: scale(1.05);
    color: #111;
    background-color: white;
}

textarea, input[type="number"] {
    border-radius: var(--border-radius);
    padding: 1vw;
    font-family: var(--font-family-firacode);
    font-size: var(--font-size-input);
    background-color: var(--dark);
    color: var(--light);
    outline: none;
}

.slider {
    appearance: none;
    height: 15px;
    border-radius: var(--border-radius);
    background: var(--light);
    border: 3px solid var(--dark);
    outline: none;
    opacity: 1;
    transition: .2s;
    margin-bottom: 100px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--light);
    outline: 5px solid var(--dark);
    background: var(--dark);
    cursor: pointer;
    transition: .2s;
}   

.slider::-webkit-slider-thumb:hover {
    border: 12px solid var(--light);
    transition: .2s;
}


/* ---------------- */
/* scrollbar styles */
/* ---------------- */


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*::-webkit-resizer {
    background-color: transparent;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}


/* ---------------- */
/* media queries    */
/* ---------------- */

@media (max-width: 1024px) {
    .big-title {
        font-size: 15vw;
    }

    .button.mainButton {
        font-size: var(--font-size-button);
    }

    .text {
        font-size: var(--font-size-input);
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .big-title {
        font-size: 20vw;
    }

    .button.mainButton {
        font-size: 1em;
    }

    .text {
        font-size: var(--font-size-input);
        max-width: 90%;
    }
}