@font-face {
    font-family: 'bitwise';
    src: url(https://www.bitwise.live/res/bitwise.ttf);
}

@font-face {
    font-family: 'firacode';
    src: url(https://www.bitwise.live/res/FiraCode.ttf);
}

@font-face {
    font-family: 'asbestos';
    src: url(https://www.bitwise.live/res/Asbestos.ttf);
}

*::selection {
    background-color: #fff;
    color: #111;
    border-radius: 5px;
}

body {
    font-size: larger;
    color: white;
    background-color: #101010;
    font-family: 'firacode', sans-serif;
    margin: 0;
}

.wrapper {
    background-color: #101010;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bg {
    width: 300%;
    background-image: url(https://www.bitwise.live/res/numbers.png);
    opacity: 0.10;
    zoom: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
    overflow: hidden;
}

.vignette {
    background: url(https://www.bitwise.live/res/vignette.png) center center fixed;
    opacity: 100;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.content {
    position: relative;
    text-align: center;
}

.title {
    font-family: 'bitwise', sans-serif;
    text-align: center;
    color: white;
    font-size: 6vw;
}

.big-title {
    font-family: 'bitwise', sans-serif;
    text-align: center;
    color: white;
    font-size: 11vw;
}

#footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-family: 'bitwise', sans-serif;
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px;
    right: 0;
    text-decoration: none;
    font-size: larger;
    transition: 300ms;
}

#footer:hover {
    background-color: #fff;
    color: #101010;
    transition: 300ms;
}

.text {
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.button-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.button.mainButton {
    font-family: 'bitwise';
    font-size: 1.5em;
}

.button.mainButton:hover {
    transform: scale(1.05);
}

.button {
    font-family: "Fira Code", monospace;
    padding: 15px 40px;
    font-size: 16pt;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 5px #101010a0;
    transition: 200ms;
    --color: #fff;
    color: var(--color);
    border: 3px solid var(--color);
    background-color: transparent;
}

.button:hover {
    background-color: var(--color);
    color: #000;
}

textarea {
    border-radius: 10px;
    padding: 1vw;
    font-family: "firacode";
    font-size: 16px;
    background-color: #101010;
    color: white;
    outline: none;
}

input[type="number"] {
    border-radius: 10px;
    border-color: white;
    font-family: "firacode";
    font-size: 16px;
    background-color: #101010;
    color: white;
    outline: none;
}

.slider {
    appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #aaaaaa;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin-bottom: 100px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

/* scrollbar styles */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #1110;
}

*::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*::-webkit-resizer {
    background-color: #1110;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

@media (max-width: 768px) {
    .big-title {
        font-size: 20vw;
    }

    .button.mainButton {
        font-size: 1em;
    }

    .text {
        font-size: 16px;
        max-width: 90%;
    }
}