:root {
    --red: #f44;
    --green: #2d6;
    --blue: #27f;
    --yellow: #fc4;
    --fail-color: #c33;
    --default-key-color: #fff;
    --bg: #222;
    --fg: #fff;
    --letters: 5;
    --key-gap: 3rem;
    --key-width: 5rem;
    --grid-width: 2px;
    --grid-color: #444; 
}

body {
    --column-size: calc(var(--key-width) + var(--key-gap));
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.5s ease;
    width: 100vw;
    overflow: hidden;
}

body.light {
    --bg: #fff;
    --fg: #222;
    --grid-color: #ddd;
}

body.fail {
    background-color: var(--fail-color);
}

#field {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    font-size: 2rem;
    text-align: center;
    overflow-y: hidden;
    flex-grow: 1;
    width: calc((var(--column-size) * var(--letters)) - var(--grid-width));
    background: repeating-linear-gradient(to right,
            transparent 0%,
            transparent calc(var(--column-size) - var(--grid-width)),
            var(--grid-color) calc(var(--column-size) - var(--grid-width)),
            var(--grid-color) var(--column-size));
}

#dfjk-container {
    display: flex;
    justify-content: center;
    gap: var(--key-gap);
    margin: auto;
    padding: 1rem 0;
    border-top: var(--grid-width) solid var(--grid-color);
    width: calc((var(--column-size) * var(--letters)) - var(--grid-width));
    background: repeating-linear-gradient(to right,
            transparent 0%,
            transparent calc(var(--column-size) - var(--grid-width)),
            var(--grid-color) calc(var(--column-size) - var(--grid-width)),
            var(--grid-color) var(--column-size));
}

.key {
    background-color: var(--default-key-color);
    width: var(--key-width);
    height: var(--key-width);
    min-height: var(--key-width);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    user-select: none;
}

#field .key {
    width: var(--key-width);
    height: var(--key-width);
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.level-select {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 1rem;
    color: var(--fg);
    font-size: 2rem;
    user-select: none;
    align-items: center;
}

#seed {
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid transparent;
    width: 8rem;
    text-align: center;
    color: inherit;
    font-family: inherit;
    transition: border-color 0.5s ease;
}

#seed::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#seed:focus {
    outline: none;
    border-color: var(--blue);
}

.d {
    background-color: var(--red);
}

.f {
    background-color: var(--green);
}

.j {
    background-color: var(--blue);
}

.k {
    background-color: var(--yellow);
}

#mistakes {
    font-size: 3rem;
    background-color: var(--fg);
    height: 100px;
    color: var(--bg);
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#mistakes.play {
    background: var(--blue);
}

#mistakes.fail {
    background: var(--bg);
    color: var(--fail-color);
}

#mistakes.win {
    background: var(--green);
}

#mistakes.perfect {
    background: var(--yellow);
}

.fail {
    animation: shake 0.25s ease;
}

@keyframes fall {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes bounceAway {
    20% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.9);
        transform: translate3d(0, -10px, 0) scaleY(0.9);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
        transform: translate3d(0, 20px, 0) scaleY(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100vh, 0) scaleY(3);
        transform: translate3d(0, -100v, 0) scaleY(3);
    }
}

@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0);
    }
}

#dfjk-container.win .key {
    animation: bounceAway 1s ease forwards;
}

.key.falling {
    animation: fall 0.05s ease;
}

#back-button {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    color: var(--fg);
    font-size: 1rem;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#back-button:hover {
    background-color: var(--blue);
}