:root {
    --bg: #151515;
    --orange: #f93;
    --grey: #555;
    --equation-height: 10rem;
}

body {
    background-color: var(--bg);
}

#math-container {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    bottom: calc(50vh - 1/2 * var(--equation-height));
    width: 100vw;
    left: 50vw;
    transform: translate(-50%, 0);
    font-size: 3rem;
}

.equation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
}

.inactive {
    color: var(--grey);
    opacity: 1;
}

.equation mjx-container.MathJax {
    margin: 2rem;
}