:root {
    /* other colors */
    --yellow: #eb2;
    --pink: #f79;
    --cyan: #2cc;
    --orange: #f72;
    --magenta: #a5f;

    /* Fonts */
    --font-title: "Roboto Slab", "Roboto", sans-serif;
    --font-logo: "DM Sans", "Roboto", sans-serif;

    /* Layout */
    --reading-width: 1000px;

    /* for anchor tags */
    scroll-padding-top: 100px;
}

.dark {
    --orange: #f73;
    --yellow: #fb3;
    --green: #3d5;
    --cyan: #4dd;
    --magenta: #a5f;
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}

article {
    background-color: var(--fg);
    padding: 20px 100px;
    border-radius: var(--border-radius);
    max-width: var(--reading-width);

    p,
    ol,
    ul,
    figure {
        margin: 1.25rem 0;
    }
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    width: fit-content;
    font-size: 1.1rem
}

aside {
    position: sticky;
    align-self: start;
    top: 10%;
    max-width: calc(var(--reading-width) / 2);
    min-width: 15rem;
    margin-left: 25px;
    max-height: 90vh;
    overflow-y: auto;

    h3 {
        font-size: 1.5rem;

        &::after {
            content: '';
            display: block;
            height: 3px;
            width: 100%;
            background-color: var(--text);
            border-radius: 1337px;
        }
    }

    ul {
        list-style: none;
        padding-bottom: 0.5rem;
    }

    &>ul {
        padding: 0;
    }

    a {
        font-weight: normal;
        color: var(--text);
        transition: color var(--qtime);

        @media (hover: hover) {
            & {
                background-image: linear-gradient(currentColor);
                background-repeat: no-repeat;
                background-size: 0% 2px;
                background-position: 0 95%;
                transition:
                    background-size ease-in-out 0.5s,
                    color var(--qtime);
                box-decoration-break: slice;
            }

            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

header {
    background: linear-gradient(45deg, color-mix(in srgb, var(--fg) 80%, var(--blue)), color-mix(in srgb, var(--fg) 80%, var(--cyan)));
    padding: 20px;
    text-align: center;
    width: 100%;

    img {
        width: 30rem;
        max-width: 100%;
    }

    h1 {
        font-size: 4rem;
        margin: 0;
        padding: 20px;
    }
}

footer {
    display: flex;
    background: var(--fg);
    margin-top: 20px;
    text-align: center;
    color: var(--half);
    padding: 0 20px;
    width: 100%;

    a {
        color: var(--half);
    }

    a:hover {
        color: var(--blue);
    }

    a:last-of-type {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }

    #back-to-top {
        font-size: 2rem;
    }
}

/* Restyled default tags */

del {
    text-decoration: none;
    position: relative;
    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        background-color: var(--red);
        height: 4px;
        border-radius: 1337px;
        transform: rotate(2deg);
        z-index: 1;
    }
}

nobr,
kbd {
    white-space: nowrap;
}

/* Header stuff */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    margin: 1.5rem 0 1rem 0;
    position: relative;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

/* Section tags for headers (created by js) */

h2,
h3 {
    .title-link {
        position: absolute;
        color: var(--half);
        left: -1.5em;
        font-size: 1em;
        opacity: 0;
        transition: opacity var(--qtime) ease, color var(--qtime) ease;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    @media (hover: hover) {

        &:hover .title-link,
        .title-link:hover {
            opacity: 1;
        }
    }
}

figure {
    img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: var(--border-radius);
        transition: all var(--qtime);
        border: 5px solid var(--bg);

        @media (hover: hover) {
            &:hover {
                transform: scale(1.01);
                box-shadow: var(--shadow);
            }
        }
    }

    figcaption {
        font-size: 0.9rem;
        color: var(--half);
        text-align: center;
        margin-top: 5px;
    }
}

a {
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;

    &.text-link {
        &::after {
            content: "link";
            color: var(--blue);
            padding-left: 0.1em;
            font-family: var(--font-icons)
        }

        &.internal-link::after {
            content: "°";
        }

        @media (hover: hover) {
            & {
                /*
                    css treats background color differently than background image,
                    so we have to make a fake gradient so we can move it
                */
                background: linear-gradient(currentColor);
                background-repeat: no-repeat;
                background-size: 0% 2px;
                background-position: 50% 95%;
                transition:
                    background-size ease-in-out var(--qtime),
                    color var(--qtime);
            }

            &:hover {
                background-size: 100% 2px;
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            color: var(--blue-hover);
        }
    }
}

nav {
    position: sticky;
    top: 0;
    background: var(--text);
    color: var(--fg);
    z-index: 1000;
    padding: 10px 50px;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-logo);
    width: 100%;
    /* border-bottom: 5px solid var(--bg); */

    * {
        color: inherit;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: inherit;
    }

    li {
        margin: 0 15px;
    }

    &>a {
        font-size: 1.5rem;
    }

    &>img {
        height: 40px;
        width: auto;
        vertical-align: middle;
    }

    .active-item {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 3px;
            background-color: var(--fg);
            border-radius: 1337px;
        }

        &:hover {
            &::after {
                background-color: var(--blue-hover);
            }
        }
    }

    #hamburger-button {
        display: none;
        position: absolute;
        font-size: 1.5rem;
        cursor: pointer;
        font-family: var(--font-icons);
        z-index: 1001;
        user-select: none;
        width: 2.5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 1200px) {
        padding: 10px 20px;
        flex-direction: column;

        ul {
            display: none;
            flex-direction: column;
            width: 100%;
        }

        &>a {
            text-align: center;
        }

        #hamburger-button {
            display: flex;
        }

        li {
            margin: 20px 20px;
        }
    }
}

blockquote {
    --color: var(--half);
    --text-color: color-mix(in oklab, var(--color), var(--text) 25%);
    --splash-text: "";
    background: color-mix(in oklab, var(--color) 15%, transparent);
    padding: 20px;
    padding-left: 30px;
    margin: 20px 0;

    p {
        display: inline;
        color: var(--text-color);
    }

    /* header for block quote */
    &:before {
        content: var(--splash-text);
        white-space: pre;
        font-family: var(--font-title), var(--font-icons);
        font-variation-settings:
            "FILL" 1,
            "GRAD" 1;
        color: var(--color);
        font-size: 1.5rem;
        display: block;
        font-weight: bold;
        margin-bottom: 0px;
    }

    &:after {
        background-color: var(--color);
    }

    &.tip {
        --color: var(--blue);
        --splash-text: "\e0f0  Tip";
    }

    &.fun-fact {
        --color: var(--cyan);
        --splash-text: "\ea65  Fun Fact";
    }

    &.warning {
        --color: var(--red);
        --splash-text: "\e002  Warning";
    }

    &.attention {
        --color: var(--yellow);
        --splash-text: "\e001  Attention";
    }

    &.note {
        --splash-text: "\f604  Note";
    }

    &.tangent {
        --color: var(--yellow);
        --splash-text: "\f184  Tangent";
    }

    &.experiment {
        --color: var(--magenta);
        --splash-text: "\e686  Experiment";
    }

    &.conjecture {
        --color: var(--orange);
        --splash-text: "\f8ea  Conjecture";
    }
}

.code-wrapper {
    overflow: auto;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: var(--fg);
    color: var(--text);
    border: none;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all var(--qtime);
}

#dark-mode-button {
    border-radius: 1337px;
    position: fixed;
    padding: 0;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-family: var(--font-icons);
    font-size: 2rem;
    z-index: 1000;
}

/* responsive design */
@media screen and (max-width: 1200px) {
    article {
        padding: 0 20px;
    }

    main {
        padding: 20px 0;
    }

    header img {
        width: 50%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    aside {
        display: none;
    }
}