@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: 'Bitter', "Poppins", Tahoma, sans-serif;
    --max-width: 85vw;
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    max-width: var(--max-width);
    margin: auto;
    padding-bottom: 70px;
}

.title {
    text-align: center;
    margin: 0.5em;
    font-size: 3rem;
    user-select: none;
}

.button {
    font-weight: bold;
}

/* Quill editor */

#editor.ql-container {
    background: var(--fg-color);
    padding: 20px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: none;
}

.ql-editor {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font);
    max-width: 800px;
    margin: auto;
}

#editor .ql-editor p {
    margin: 1em 0;
}

body .ql-toolbar.ql-snow {
    background: var(--fg-color);
    border-radius: 10px 10px 0 0;
    font-family: var(--font);
    border: none;
}

body.dark .ql-toolbar.ql-snow * {
    color: var(--text-color);
    stroke: var(--text-color);
}

/* controls */

.controls-container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.controls-container button {
    font-family: var(--font);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    width: 100%;
    background-color: var(--fg-color);
    color: var(--text-color);
    cursor: pointer;
}

.controls-container button:hover {
    background-color: var(--fg-color-hover);
}

.control {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* font container */

.container {
    display: flex;
    gap: 10px;
}

.column {
    background: var(--fg-color);
    padding: 20px;
    flex: 1;
    word-break: break-word;
}

.column:first-of-type {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.column:last-of-type {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.column:only-of-type {
    border-radius: var(--border-radius);
}

label {
    display: block;
    font-weight: bold;
}

.text-input.google-font {
    background-color: #ff03;
}

.text-input.web-safe-font {
    background-color: #0f03;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-container {
    display: flex;
    gap: 10px;
}

.settings-container div {
    width: 50%;
}

/* small slider */

.small-slider {
    width: 100%;
}

/* large slider */

.large-slider {
    --color: var(--text-color);
    position: relative;
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    overflow: hidden;
    background-color: var(--fg-color-hover);
    border-radius: 10px;
}

.large-slider:hover {
    --color: var(--text-color-hover);
}

.large-slider::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    margin-top: -1px;
}

.large-slider::-webkit-slider-thumb {
    width: 0;
    -webkit-appearance: none;
    height: 0;
    cursor: ew-resize;
    box-shadow: -100vw 0 0 100vw var(--color);
}

.large-slider::-moz-range-track {
    height: 10px;
    border-radius: 10px;
    appearance: none;
}

.large-slider::-moz-range-progress {
    height: 50px;
    background: var(--color);
}

.large-slider::-moz-range-thumb {
    color: transparent;
    background: transparent;
    display: none;
    cursor: ew-resize;
    appearance: none;
    border: none;
}

.large-slider:focus-visible {
    box-shadow: var(--focus-outline);
}

.scale-control::before {
    content: "Scale";
    font-family: var(--font);
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2rem;
    color: #fff;
    mix-blend-mode: difference;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

.scale-control>.large-slider {
    --slider-name: 'Scale';
}

.indicator {
    color: var(--text-color);
    opacity: 0.5;
    padding: 5px;
    font-size: 0.8em;
    vertical-align: middle;
}

.output {
    font-size: 12pt;
    font-weight: 400;
}

.output * {
    margin: revert;
}