/* wordbank */

.wordbank-container {
    display: flex;
    flex-direction: column;
}

#banks {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    gap: 8px;
    color: var(--text-color);
    user-select: none;
    padding: 16px;
}

.bank-button {
    background-color: var(--fg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.bank-button:nth-of-type(0) {
    flex-shrink: 1;
}

.bank-button.active {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#input-box {
    background-color: var(--bg-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    color: var(--text-color);
    padding: 16px;
    font-size: 16px;
    resize: vertical;
}

/* length input block */

.length-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    gap: 12px;
    align-items: center;
    user-select: none;
}

#length-box {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: 12px;
    width: 4em;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    appearance: textfield;
}

#length-box::-webkit-inner-spin-button,
#length-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* output */

#outbox {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 16px;
    font-size: 24px;
    resize: none;
    text-align: center;
}

#output-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#out-length {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

/* slider */

#length-slider {
    flex: 1;
}

/* hover styles */
@media (hover: hover) {
    .bank-button:hover {
        background-color: var(--fg-color-hover);
    }

    .bank-button.active:hover {
        background-color: var(--text-color-hover);
        color: var(--bg-color);
    }
}