@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --green: #4e7;
    --green-hover: #1b4;
    --blue: #47e;
    --blue-hover: #25c;
    --red: #e44;
    --red-hover: #b22;
    --bg: #eee;
    --fg: #fff;
    --fg-hover: #ddd;
    --text-color: #333;
    --text-color-hover: #111;
    --font: "Poppins", sans-serif;
    --font-icons: "Material Symbols Rounded";
    --border-radius: 12px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    transition: background 0.2s;
}

body.dark {
    --bg: #111;
    --fg: #222;
    --fg-hover: #333;
    --text-color: #fff;
    --text-color-hover: #bbb;
}

body {
    font-family: var(--font);
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    padding: 40px;
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: 960px;
    background: var(--fg);
    border-radius: var(--border-radius);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

textarea {
    height: 200px;
    font-size: 16px;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    color: var(--text-color);
    resize: vertical;
}

.tool-title {
    text-align: center;
    font-size: 2rem;
    user-select: none;
    font-weight: 400;
}

.hidden {
    display: none !important;
}

#back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    font-family: var(--font-icons);
    background-color: var(--text-color);
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button {
    background-color: var(--text-color);
    color: var(--fg);
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    user-select: none;
    transition: background-color 0.2s ease;
    border-radius: var(--border-radius);
}

#back-button:hover {
    background-color: var(--text-color-hover);
}

#copy-button {
    font-family: var(--font-icons);
    position: absolute;
    font-size: 24px;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

#copy-button.check {
    background-color: var(--green);
}

#copy-button.check:hover {
    background-color: var(--green-hover);
}

#copy-button:hover {
    background-color: var(--text-color-hover);
}

.option-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.option-checkbox {
    background-color: var(--bg);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.2s ease;
    user-select: none;
}

.option-checkbox:hover {
    background-color: var(--fg-hover);
}

.option-checkbox.checked {
    background-color: var(--text-color);
    color: var(--bg);
}

.option-checkbox.checked:hover {
    background-color: var(--text-color-hover);
}

.option-checkbox.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checkbox-group .option-checkbox:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.checkbox-group .option-checkbox:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#advanced-options {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.options-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
}

.delimiter-option {
    width: 100%;
    gap: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.help-button {
    font-size: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: auto;
    width: 16px;
    height: 16px;
}

.delimiter-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: 1.5px solid transparent;
    border-radius: var(--border-radius);
    background: var(--bg);
    font-family: var(--font);
    color: var(--text-color);
    outline: none;
    transition: border .2s;
}

.out-list {
    position: relative;
    display: flex;
    flex-direction: column;
}


@media (max-width: 600px) {
    body {
        padding: 16px;
        padding-bottom: 5rem;
    }

    .container {
        padding: 16px;
    }

    .checkbox-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .checkbox-group .option-checkbox:first-child {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .checkbox-group .option-checkbox:last-child {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}