@import url("/tools/common.css");

textarea {
    height: 200px;
    font-size: 16px;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-color);
    resize: vertical;
}

.option-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.option-checkbox {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    transition: background-color 0.2s ease;
    user-select: none;
}

.option-checkbox:hover {
    background-color: var(--fg-color-hover);
}

.option-checkbox.checked {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.option-checkbox.checked:hover {
    background-color: var(--text-color-hover);
}

.option-checkbox.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.checkbox-group .option-checkbox:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.checkbox-group .option-checkbox:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

#advanced-options {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.options-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
}

.delimiter-option {
    width: 100%;
    gap: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.delimiter-input {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: 1.5px solid transparent;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    font-family: var(--font);
    color: var(--text-color);
    outline: none;
    transition: border .2s;
}

.out-list {
    position: relative;
    display: flex;
    flex-direction: column;
}


@media (max-width: 600px) {
    .checkbox-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .checkbox-group .option-checkbox:first-child {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .checkbox-group .option-checkbox:last-child {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}